<section class="bg-light page-section" id="basic_analysis">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Aspect based sentiment analysis</h2>
        <h3 class="section-subheading text-muted">
          Taste, Aroma, Palate or Appearance?
        </h3>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <p class="text-justify lead">
          To answer our first question regarding the beer aspects most important to consumers,
           we conduct <i><u>aspect-based sentiment analysis</i></u> or <i><u>ABSA</i></u>. We do this by conducting 
           an <i><u>observational study</i></u> between "absolute winner" and "absolute loser" beers, 
           which we'll explain in a bit. Before that, we have to introduce a preprocessing step. <br>
          Considering that numerical ratings don't convey proper information about users' attitude
          towards a beer, we give our BEERT model the context (one of the four beer aspects) and it 
          provides us with positive/neutral/negative <i><u>sentiment score</i></u> for each aspect from the textual 
          review. The scores are in the [0,1] interval and sum up to 1. Since we want to determine if a 
          certain aspect of sentiment exists, we convert each sentiment score to <i><u>indicators</i></u> by setting 
          up a threshold and comparing them to it. What's more, as we look for aspects with a strong sentiment, 
          our goal is to have only one of the three aspect-specific indicators present (which means that this 
          sentiment is dominant) or to have them all being zero (we are not certain that the sentiment is
          polar enough). This is achieved by a threshold of 0.5 (restricting the other two scores to be at 
          most 0.5), but to be very confident in our results, we set up a threshold of 0.9.
        </p>
      </div>

      <br>

      <div class="col-md-12">
        <p class="text-justify lead">
          Our observational study compares two groups of beers: 
          <u><i>absolute winner</i></u>, with all numerical aspect ratings greater 
            than an <u><i>absolute loser</i></u> beer. We want to investigate how does each aspect sentiment derived
             from text influence the overall rating. Therefore, we randomly match pairs of better and worse beers, 
             but we have to be careful in this process and try to eliminate as many confounders as possible that might 
             endanger our analysis. Matched beer reviews:

             <li class="lead">are written by the <u><i>same user</i></u></li>
             <li class="lead"> are related to beers with the same <u><i>style</i></u> and <u><i>alcohol by volume (ABV)</i></u> <br></i></u></li>
             <li class="lead"><u><i>do not differ largely in size</i></u>, due to the BEERT inferring higher sentiment scores for longer reviews <br></li>
             <li class="lead">are given in the <u><i>same season</i></u>, to cancel out any possible underlying seasonal effects <br> <br></li>  
        </p>
        <p class="text-justify lead">
            Let’s take a look at the following plot (<em>Figure 3</em>), depicting the number of positive/neutral/negative 
            and the total number of sentiment indicators for each aspect of winner and loser beers. We can immediately notice 
            that people are more expressive about beers they rated higher simply by looking at bar heights. 
            But, a more important result is that Aroma and Taste clearly stand out – people have more polarized 
            opinions when writing about these two aspects.
        </p>

        <div class="col-md-12">
          <h6 class="subheading text-center">Figure 3 : Number of indicators per aspect per sentiment </h6>
          <div>
            {% include indicators.html %}
          </div>
        </div>

        <p class="text-justify lead">
          <br>
          This could not be concluded merely by looking at the 
          ratings eCDF (<em>Figure 4</em>) for each aspect of winner beers – it seems that people grade all aspects similarly 
          (halo effect seen in real life :))
      </p>

        <div class="col-md-12">
          <h6 class="subheading text-center">Figure 4 : eCDF of aspect ratings for absolute winner </h6>
          <div>
            {% include aspects_cdf.html %}
          </div>
        </div>

        <br>
        <p class="text-justify lead">
          It would also be interesting to see if some aspect sentiments are prevalent in winner beers. 
          To investigate this, we estimate the average difference and 95% confidence intervals for the difference
           in sentiment indicators between winner and loser beers for each aspect. We then visualize the results 
           in <em>Figure 5</em>. For positive sentiments, all C.I.s are above zero, and for negative, all are 
           below zero. But, this result isn’t that interesting – it’s expected that the positive sentiment is prevalent
            in winners, while the negative is prevalent in losers. What’s interesting is the intensity of the influence 
            of aspect sentiments on respective beer groups. Let’s look at positive indicators – clearly, Aroma and Taste 
            stand out compared to the other two. But what does this mean? Imagine an edge case when all winners have a 
            positive indicator for an aspect “1” and all losers have “0”. This would mean we can only look at that specific 
            aspect and tell if a beer is a winner or a loser, regardless of the numerical ratings. Well, Aroma and 
            Taste are the closest to that edge case, so we conclude that they have the strongest influence on better-rated beers.
             Similarly, negative Taste sentiment is the best indicator of a beer being rated lower.
        </p>
        <br>

        <div class="col-md-12">
          <h6 class="subheading text-center">Figure 5 : Confidence intervals for differences of aspects </h6>
          <div>
            {% include conf_intervals.html %}
          </div>
        </div>
        
        <br>
        <p class="text-justify lead">
          The two analyses we conducted above both confirm that Aroma and Taste are
           prevalent in winner reviews compared to Appearance and Palate. 
           We, therefore, deduct that these two are most influential on the ratings, 
           and even though people often give similar grades to all aspects, 
           they mostly care about Aroma and Taste.
        </p>

      </div>
    </div>
    
</section>