<!-- Timeline Analysis -->
<section class="page-section" id="conclusion">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Conclusion</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">So, which aspect does tip the scale?</div>
      </div>
    </div>
    <br><br>
    <div class="col-md-12">
      <h5 class="section-heading mt-3 mb-3 tb-3">Which beer aspects are the most important for users?</h5>
    </div>
    <div class="col-md-12">
      <p class="text-justify lead">
        If we were lazy, we could’ve simply looked at all the numerical ratings of our 
        reviews and conclude – people like all aspects equally and give their grades correspondingly.
         Luckily, our high school Psychology course finally paid off and our doubt was awakened. 
         With the help of an observational study and users’ 
         opinions, we found out that Taste and Aroma are what they write and care about primarily. 
         So breweries, listen carefully: if you mix the ingredients just right, your work will 
         probably pay off!
      </p>
    </div>
    <br>

    <div class="col-md-12">
      <h5 class="section-heading mt-3 mb-3 tb-3">What keywords do reviewers use when giving good grades?</h5>
    </div>
    <div class="col-md-12">
      <p class="text-justify lead">
        Odgovor na drugi deo iz intro
      </p>
    </div>
    <br>

  </div>
</section>
<!-- Timeline Analysis -->