<!-- Introduction -->
<section class="page-section" id="introduction">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase mb-3 tb-3">Introduction</h2>

        <div class="section-subheading text-justify lead">
          Standing in front of us is a dataset of thousands of beer reviews taken from 
          the BeerAdvocate <a
          href="https://www.beeradvocate.com/">BeerAdvocate</a> website. Each reviewer has given a 1-5 rating for each 
          of the four beer aspects: Aroma, Palate, Appearance and Taste, along with an Overall 
          grade. In addition, they also provided a textual review further explaining their 
          opinion on a specific beer. In a nutshell, our aim is to explore what is it we write 
          in these reviews that influences the ratings significantly. These conclusions can 
          help breweries adjust their production according to people’s preferences and improve
           targeting: Do people often say that a beer is too sweet? It is an indicator to reduce 
           sugar during the brewing process. On the other hand, are taste and appearance rated well?
            The breweries can then focus their commercials on slow-motion close-ups of a person
             drinking from a transparent glass, with their mouth in the forefront.
        <br><br>

             So, we will focus on answering two main questions:
             <h5 class="section-heading mt-3 mb-3 tb-3">~ Which beer aspects are the most important 
              for users? Namely, what are the aspects 
              that correlate positively with their overall rating?</h5>
             <h5 class="section-heading mt-3 mb-3 tb-3">~ What keywords do reviewers use 
              about these aspects that are decisive 
              factors when they give good grades?</h5>

          <br>

          One might ask, why do we even introduce textual analysis in our work? 
            Okay, for our second question, the answer is quite straightforward – we need 
            it to <u><i>actually</i></u> extract important words. But what about the first one? 
            Aren't the grades users give enough to infer if an aspect stands out as 
            influential? Well, there are two problems that arise.
            <br><br>
          
            First, people mostly give good grades. As can be seen from <em>Figure 1</em>, 
           a vast majority of reviews (>90%) have numerical ratings all higher than 3.
            Therefore, if a certain aspect indeed stands out, its difference in rating compared 
            to the other ones will not be so easy to notice.

            <div class="col-md-12">
              <h6 class="subheading text-center">Figure 1 : Users mostly give high ratings</h6>
              <div>
                {% include small_grades.html %}
              </div>
            </div>

            <br>
            Furthermore, the problem is hard due to the psychological phenomenon called the 
            <a
          href="https://en.wikipedia.org/wiki/Halo_effect">Halo Effect</a> - the tendency for positive impressions of a person, company, brand, or product in one 
             area to positively influence one’s opinion or feelings in other areas. For example, 
             if a person is amazed by the beer bottle, they might transfer their pleasure to the taste.
             Or if the aroma reminds them of their mom’s cookies, they will probably rate 
             the beer more than it deserves. In fact, a glimpse of our dataset shows 
             that around 56% of reviews have numerical aspect ratings that almost coincide (as can be seen on <em>Figure 2</em>)
             – it is not very likely that each beer aspect follows the same pattern.

            <div class="col-md-12">
              <h6 class="subheading text-center">Figure 2 : Users similarly rate aspects </h6>
              <div>
                {% include aspects_same.html %}
              </div>
            </div>

            So, to overcome these phenomena, we use our good old 
            <a href="https://github.com/ScalaConsultants/Aspect-Based-Sentiment-Analysis">BERT-based 
              aspect sentiment analysis model</a> (or BEERT as we like to call it) to find out what 
              people <u><i>really</i></u> had to say about the beer, aspect-wise. 


              <br>

        </div>
      </div>
    </div>
  </div>

</section>
<!-- End Introduction -->