<!-- Sentiment Analysis -->
<section class="page-section" id="sentiment_analysis">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Keywords</h2>
        <h3 class="section-subheading text-muted">What do you like about the beer?</h3>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <h5 class="section-heading mt-3 mb-3 tb-3">Keywords and beer styles</h5>
      </div>

      <div class="col-md-12">
        <div class="section-subheading text-justify lead">
          ABSA showed that Aroma and Taste are key when people write a review. These aspects 
          influence the reviews overall. Now we want to go deeper to find out which <u><i>aspect
           characteristics</i></u> map into a high rating. We cannot conduct this analysis globally
            since different beers may have different traits. For example, we expect one to
             mention citrus notes for a Grape beer and not for an IPA, which is characterized 
             as bitter. That’s why we conduct our analysis for beer styles individually,
              but only on those with at least 40k reviews, so that we have enough data points
               to declare the results valid. There are 15 such beer styles in the dataset.
        </div>
      </div>

      <br><br>

      <div class="col-md-12">
        <p class="text-justify lead">
          To answer our question, we start by investigating which style-specific 
          keywords extracted from review text correlate with a high rating. 
          We call these <u><i>overall keywords</i></u>. For each style, we take the top 100 most 
          frequent words in all reviews of that style from which stopwords are excluded. 
          Now, similarly to ABSA, we construct binary indicators for each keyword, denoting 
          its presence in each style-specific review. To see how each keyword influences 
          the grades, we conduct <u><i>linear regression</i></u> with Rating (an aggregate of 
          numerical aspect grades) as the target and indicators as covariates. Finally,
           we obtain <u><i>overall keywords</i></u> as those whose coefficients we are certain in 
           (p-value &lt; 0.05) and for which the change in Rating is greater than 0.1 
           when having (or not) it in the formula.  
        </p>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-12">
        <h5 class="section-heading mt-3 mb-3 tb-3">Misinformation analysis</h5>
      </div>

      <div class="col-md-12">
        <div class="section-subheading text-justify lead">
          It is a well known fact that a lot of controversy is built around climate change. The non-scientific popular
          media is filled with misconceptions and manipulative claims on the topic. It would be useful to look into how
          this phenomenon influenced our dataset. In order to achieve this we can yet again rely on contemporary models.
        </div>
      </div>
      <div class="col-md-12">
        <p class="text-justify lead">
          The key feature for this process has been extracted using CARDS (Computer-assisted detection and
          classification of misinformation about climate change) model. This feature takes integer values from the range
          [0,17]. The value 0 refers to quote not being classified as misinformation, while integer values from rage
          [1-17] refer to different classes of misinformations. For our analysis, we will focus only on the question if
          misinformation exists, and, therefore, we will consider only 2 classes: true quote (i.e. value of 0) and
          misinformation (i.e. any integer value from range [1-17].<br>
          So let's start.
        </p>
      </div>
      <br><br>
      <div class="col-md-4">
        <h6 class="subheading text-center">Total number of quotes per party</h6>
      </div>
      <div class="col-md-4">
        <h6 class="subheading text-center">Number of true climate change quotes</h6>
      </div>
      <div class="col-md-4">
        <h6 class="subheading text-center">Number of misinformative climate change quotes</h6>
      </div>
      <div class="col-md-4">
        <div id="pie_misinfo_total"></div>
      </div>
      <div class="col-md-4">
        <div id="pie_true"></div>
      </div>
      <div class="col-md-4">
        <div id="pie_misinformation"></div>
      </div>

      <br>
      <br>
      <div class="col-md-12 mt-2">
        <p class="text-justify lead">
          There is a noticeable distinction in the way parties make claims. Even though most claims on the topic are
          made by the democrats most of the misinformation was pushed through by the Republicans.</p>
        <p class="text-justify lead">
          So far, regarding sophisticated sentiment analysis, we have noticed that Republicans are more negative and
          more deceiving. <br> Not a lovely characteristics.
        </p>
      </div>

      <div class="col-md-12">
        <p class="text-justify lead">
          But wait! Do those sentiments truly describe the politicians' attitude? Do the broadcasting services (i.e.
          media) provide an influence also?
        </p>
      </div>

      <div class="col-md-12">
        <h5 class="section-heading mt-3 mb-3 tb-3">The Media Dimension</h5>
      </div>

      <div class="col-md-12">
        <p class="text-justify lead">
          Let's analyse media-dimension of sentimet:
        </p>
      </div>

      <div class="col-md-12 residuals">
        <img src="assets/img/mediaAvg.png" alt="" srcset="">
      </div>

      <div class="col-md-12">
        <p class="text-justify lead">
          From the plot above, we can conclude that the climate change related quotes said by Democrats are more likely
          to be presented by media in a positive atmosphere, while the climate change related quotes said by Republicans
          are more likely to be negatively broadcasted. We can see a little bit of polarisation of the media, so we may
          conclude that the overall sentiment of a quote, in addition to speaker-related, contains a media-related component
          as
          well.</p>
      </div>

      <div class="col-md-12">
        <p class="text-justify lead">
          So what about misconseptions?
        </p>
      </div>

      <div class="col-md-12 residuals">
        <img src="assets/img/mediaMisinfo.png" alt="" srcset="">
      </div>

      <div class="col-md-12">
        <p class="text-justify lead">
          Similarly to the previous conclusion, we can see that there is a polarization in this context also. Since
          Republican's quotes, compared to Democrat's quotes, are more likely to be broadcasted as misinformation, we
          may also conclude that the overall degree of misinformation contains speaker-related and media-related aspects.
          <br>
          Since we are not able to determine which of the components, i.e. speaker-related or media-related, is
          prevailing, we cannot make conclusions regarding the sentiment/misinformation part of quotes with respect to
          political parties.
        </p>
      </div>
    </div>

  </div>
</section>
<!-- End Sentiment Analysis -->