<!-- Sentiment Analysis -->
<section class="page-section" id="sentiment_analysis">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Keywords</h2>
        <h3 class="section-subheading text-muted">What do you like about the beer?</h3>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <h3 class="section-heading mt-3 mb-3 tb-3">Keywords and beer styles</h3>
      </div>

      <div class="col-md-12">
        <div class="section-subheading text-justify lead">
          ABSA showed that Aroma and Taste are key when people write a review. These aspects 
          influence the reviews overall. Now we want to go deeper to find out which <u><i>aspect
           characteristics</i></u> map into a high rating. We cannot conduct this analysis globally
            since different beers may have different traits. For example, we expect one to
             mention citrus notes for a Grape beer and not for an IPA, which is characterized 
             as bitter. That’s why we conduct our analysis for beer styles individually,
              but only on those with at least 40k reviews, so that we have enough data points
               to declare the results valid. There are 15 such beer styles in the dataset. <br>
        </div>
      </div>

      <br><br>

      <div class="col-md-12">
        <br>
        <h6 class="subheading text-center">Figure 6 : Number of reviews for the most rated styles </h6>
        <div>
          {% include popular_styles.html %}
        </div>
      </div>

      <br><br>

      <div class="col-md-12">
        <p class="text-justify lead">
          <br>
          To answer our question, we start by investigating which style-specific 
          keywords extracted from review text correlate with a high rating. 
          We call these <u><i>overall keywords</i></u>. For each style, we take the top 100 most 
          frequent words in all reviews of that style from which stopwords are excluded. 
          Now, similarly to ABSA, we construct binary indicators for each keyword, denoting 
          its presence in each style-specific review. To see how each keyword influences 
          the grades, we conduct <u><i>linear regression</i></u> with Rating (an aggregate of 
          numerical aspect grades) as the target and indicators as covariates. Finally,
           we obtain <u><i>overall keywords</i></u> as those whose coefficients we are certain in 
           (p-value &lt; 0.05) and for which the change in Rating is greater than 0.1 
           when having it in the formula.  
        </p>

      </div>

      <div class="col-md-12">
        <p class="text-justify lead">
          Let’s visualize the results we got: 
        </p>
      </div>


      <div class="col-md-12 residuals">
        <img src="assets/img/word_cloud.png" alt="" srcset="">
      </div>

      <div class="col-md-12">
        <p class="text-justify lead">
          <br>
          The size of a keyword corresponds with the number of styles it is associated with. It’s not shocking 
          that generic words like great and nice appear in reviews the most often; we extract real information 
          from overall keywords relating to a specific aspect :

          <li class="lead"><u><i>Taste</i></u>: <span style="color:green;">grapefruit</span>, <span style="color:green;">citrus</span>, <span style="color:green;">cherry</span>, <span style="color:green;">chocolate</span>, <span style="color:green;">hops</span>, <span style="color:green;">hoppy</span>, <span style="color:green;">vanilla</span>, <span style="color:green;">tart</span>, <span style="color:green;">pine</span>, <span style="color:green;">funk</span>, <span style="color:green;">bourbon</span>, <span style="color:green;">tropical</span></li>
          <li class="lead"><u><i>Aroma</i></u>: <span style="color:green;">grapefruit</span>, <span style="color:green;">citrus</span>, <span style="color:green;">cherry</span>, <span style="color:green;">chocolate</span>, <span style="color:green;">hops</span>, <span style="color:green;">hoppy</span>, <span style="color:green;">vanilla</span>, <span style="color:green;">pine</span>, <span style="color:green;">funk</span>, <span style="color:green;">bourbon</span>, <span style="color:green;">tropical</span></li>
          <li class="lead"><u><i>Palate</i></u>: <span style="color:green;">smooth</span>, <span style="color:green;">refreshing</span>, <span style="color:green;">rich</span>, <span style="color:green;">tropical</span>, <span style="color:red;">thin</span></li>
          <li class="lead"><u><i>Appearance</i></u>: <span style="color:green;">red</span>, <span style="color:green;">tropical</span></li>
        </p>
      </div>

      <div class="col-md-12">
        <p class="text-justify lead">
          where green-colored words have contribute positively to the Rating, and red-colored negatively.
        </p>
      </div>

      <div class="col-md-12">
        <p class="text-justify lead">
          <br>
          In the interactive plot below (<em>Figure 7</em>), you can click on any of the 15 beer
           styles observed and visualize the contribution of each overall keyword to the style’s Rating.
            Note that the p-values for regression coefficients are all less than 10<sup>-39</sup>.
        </p>
      </div>

    <br>

      <div class="col-md-12">
        <h6 class="subheading text-center">Figure 7 :  Keywords and coefficients per style</h6>
        <div id="word_bubbles" style="resize:both; overflow: auto;">
          
        </div>
      </div>

      <div class="col-md-12">
        <p class="text-justify lead">
          <br>
          Based on this analysis, we derive the following conclusions:
          <li class="lead"> Most overall keywords relate to <u><i>Aroma</i></u> and <u><i>Taste</i></u>, which co-aligns with
             ABSA results that people talk about these aspects the most. What’s more, all regressor
              coefficients related to these keywords increase the Rating proving that Aroma and Taste
               are crucial when giving a high grade.</li>
          <li class="lead">There were only two keywords negatively influencing the grade that stood 
            out – <em>like</em> and <em>thin</em> – so we conclude that people more often write about 
            beer characteristics they liked.</li>

        </p>
      </div>

      <div class="col-md-12">
        <h3 class="section-heading mt-3 mb-3 tb-3">Seasonal keywords</h3>
      </div>

      <div class="col-md-12">
        <p class="text-justify lead">
          <br>
          Overall keywords provided us with a global insight into how different beer style characteristics
           influence its rating. However, looking at <em>Figure 8</em> depicting the monthly trend in Ratings 
           for each of our 15 styles, we notice that the grades vary greatly depending on the period. 
           For example, “American Amber/Red Ale” is rated 0.1 higher on average in February than in August.
            This inspired us to look for style-specific <u><i>seasonal keywords</i></u> to find out 
            <u><i>when</i></u> is which beer characteristics important for consumers.
        </p>
      </div>

      <div class="col-md-12">
        <h6 class="subheading text-center">Figure 8 : Monthly trends of Rating per style </h6>
        <div id="seasonal_trends">
          
        </div>
      </div>

      <div class="col-md-12">
        <p class="text-justify lead">
          <br>
          We decided to introduce seasonality by observing the best and worst rated month for each beer style. 
          As in the previous analysis, we extract top-100 most frequent words and discard stopwords, but now only 
          based on reviews given in these two months. Our candidates for seasonal keywords are ones that appear
           10% more in one of these months – only they have the possibility to make a difference in ratings. 
           Finally, as before, we convert them to binary indicators, fit a linear regression on all the reviews 
           for a specific style, and decide which become <u><i>seasonal keywords</i></u> by looking at their p-values and 
           contributions to the Rating. All kept regressor coefficients have p-values less than 10<sup>-28</sup>. <br>
        </p>
      </div>

      <div class="col-md-12">
        <p class="text-justify lead">
          <br>
          Our method yielded 13 seasonal keywords (presented in the word cloud below). We already 
          see the impact of the seasonal analysis – 7 new style-specific keywords, which were not
           present in the set of overall keywords, emerged. Out of these 13, only the word <u><i>caramel</i></u>
            has a negative influence on one style – “American Double / Imperial IPA”. This style is 
            best rated on average in February and worst in July, which can be explained by the fact
             that the word <u><i>caramel</i></u> is more frequent in reviews given in July. Let’s now take a 
             look at the words <u><i>vanilla</i></u> and <u><i>fresh/refreshing</i></u>, all influencing multiple beer
              styles positively. Our results show that vanilla-noted beers are more appreciated
               during changing seasons and the least during summer. On the other hand, people
                like a refreshing beer when it's warmer outside, as most of worst rated months
                 of influenced styles are during winter.
        </p>
      </div>

      <div class="col-md-12 residuals">
        <img src="assets/img/word_cloud_seasonal.png" alt="" srcset="">
      </div>

      <div class="col-md-12 residuals">
        <pre>
          <br>
          VANILLA
          -----------------------------------------------------------------------------------------------------
          Style                                  Coefficient         MinMonth          MaxMonth  
          -----------------------------------------------------------------------------------------------------
          American Double / Imperial Stout         0.116201               9                 4
          Russian Imperial Stout	           0.135693               8                 5
          American Strong Ale	                   0.145952               9                11

          FRESH/REFRESHING
          -----------------------------------------------------------------------------------------------------
          Style                                  Coefficient         MinMonth          MaxMonth  
          -----------------------------------------------------------------------------------------------------
          American IPA                            0.135115               7                 10
          American Pale Ale (APA)	          0.186084               1                 10
          Witbier	                          0.168595              12                  9

          CARAMEL
          -----------------------------------------------------------------------------------------------------
          Style                                  Coefficient         MinMonth          MaxMonth  
          -----------------------------------------------------------------------------------------------------
          American Double / Imperial IPA         -0.118599               7                 2
        </pre>
      </div>


      <div class="col-md-12">
        <p class="text-justify lead">
          <br>
          We presented only a fraction of keywords and it’s obvious that many 
          keywords are specific to a small number of beer styles. Finding and analyzing 
          them for all beer styles would be a costly process both in time and interpretability.
           Still, these results are enough to show how complicated and perplexing this problem 
           is and at the same time, provides a good intuition behind why seasonality is crucial
            in its resolving.
        </p>
      </div>

      {% include scriptt.html %}


    </div>
  </div>
</section>
<!-- End Sentiment Analysis -->