<br>

<h6 class="subheading text-center">VANILLA:</h6>

<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th style="width: 55%">Style</th>
      <th style="width: 15%">Coefficient</th>
      <th style="width: 15%">Min Month</th>
      <th style="width: 15%">Max Month</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">American Double / Imperial Stout</th>
      <td>0.116201</td>
      <td>9</td>
      <td>4</td>
    </tr>
    <tr>
      <th scope="row">Russian Imperial Stout</th>
      <td>0.135693</td>
      <td>8</td>
      <td>5</td>
    </tr>
    <tr>
      <th scope="row">American Strong Ale</th>
      <td>0.145952</td>
      <td>9</td>
      <td>11</td>
    </tr>
  </tbody>
</table>

<br>

<h6 class="subheading text-center">FRESH/REFRESHING:</h6>

<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th style="width: 55%">Style</th>
      <th style="width: 15%">Coefficient</th>
      <th style="width: 15%">Min Month</th>
      <th style="width: 15%">Max Month</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">American IPA</th>
      <td>0.135115</td>
      <td>7</td>
      <td>10</td>
    </tr>
    <tr>
      <th scope="row">Witbier</th>
      <td>0.168595</td>
      <td>12</td>
      <td>9</td>
    </tr>
    <tr>
      <th scope="row">American Pale Ale (APA)</th>
      <td>0.186084</td>
      <td>1</td>
      <td>10</td>
    </tr>
  </tbody>
</table>

<br>

<h6 class="subheading text-center">CARAMEL:</h6>

<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th style="width: 55%">Style</th>
      <th style="width: 15%">Coefficient</th>
      <th style="width: 15%">Min Month</th>
      <th style="width: 15%">Max Month</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">American Double / Imperial IPA</th>
      <td>-0.118599</td>
      <td>7</td>
      <td>2</td>
    </tr>
  </tbody>
</table>