<head>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  
  <div id="__myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
  <script>
    var __myPlot = document.getElementById('__myDiv'),
    __x0 = [0, 0, 1],
__y0 = [0, 0.1186056240844869, 0.1865006671143741],
__marker_color0 = ['rgba(0,0,0,0)', 'rgb(0,158,115)', 'rgb(0,158,115)'],
__text_data0 = ['', '<b>Word: grapefruit <br>Coefficent: 0.12</b>', '<b>Word: great <br>Coefficent: 0.19</b>'],
__size_of_bubble0 = [0, 75.90759941407161, 119.36042695319942],
__font_size_in_bubble0 = [0, 9.0, 15.0],
__x1 = [0, 0, 1, 2],
__y1 = [0, 0.1045561981114066, 0.1526934110855923, 0.1353710798876091],
__marker_color1 = ['rgba(0,0,0,0)', 'rgb(0,158,115)', 'rgb(0,158,115)', 'rgb(0,158,115)'],
__text_data1 = ['', '<b>Word: grapefruit <br>Coefficent: 0.10</b>', '<b>Word: great <br>Coefficent: 0.15</b>', '<b>Word: tropical <br>Coefficent: 0.14</b>'],
__size_of_bubble1 = [0, 66.91596679130022, 97.72378309477908, 86.63749112806983],
__font_size_in_bubble1 = [0, 8.0, 12.0, 11.0],
__x2 = [0, 0, 1, 2, 3, 4],
__y2 = [0, 0.1227315396353934, 0.1041121494090119, 0.1220291897144304, 0.1175582750163679, 0.1010970269592436],
__marker_color2 = ['rgba(0,0,0,0)', 'rgb(0,158,115)', 'rgb(0,158,115)', 'rgb(0,158,115)', 'rgb(0,158,115)', 'rgb(0,158,115)'],
__text_data2 = ['', '<b>Word: bourbon <br>Coefficent: 0.12</b>', '<b>Word: vanilla <br>Coefficent: 0.10</b>', '<b>Word: smooth <br>Coefficent: 0.12</b>', '<b>Word: great <br>Coefficent: 0.12</b>', '<b>Word: rich <br>Coefficent: 0.10</b>'],
__size_of_bubble2 = [0, 78.54818536665178, 66.63177562176762, 78.09868141723545, 75.23729601047546, 64.7020972539159],
__font_size_in_bubble2 = [0, 10.0, 8.0, 10.0, 9.0, 8.0],
__x3 = [0, 0, 1, 2, 3],
__y3 = [0, 0.1318408127256876, 0.1090279906647516, 0.1632650960977831, 0.2201547137229912],
__marker_color3 = ['rgba(0,0,0,0)', 'rgb(0,158,115)', 'rgb(0,158,115)', 'rgb(0,158,115)', 'rgb(0,158,115)'],
__text_data3 = ['', '<b>Word: nice <br>Coefficent: 0.13</b>', '<b>Word: citrus <br>Coefficent: 0.11</b>', '<b>Word: grapefruit <br>Coefficent: 0.16</b>', '<b>Word: great <br>Coefficent: 0.22</b>'],
__size_of_bubble3 = [0, 84.37812014444006, 69.77791402544102, 104.48966150258119, 140.89901678271437],
__font_size_in_bubble3 = [0, 11.0, 9.0, 13.0, 18.0],
__x4 = [0, 0, 1, 2, 3],
__y4 = [0, 0.1270965336576798, 0.1166133002958525, 0.1249282262187262, 0.1131289199589589],
__marker_color4 = ['rgba(0,0,0,0)', 'rgb(0,158,115)', 'rgb(0,158,115)', 'rgb(0,158,115)', 'rgb(0,158,115)'],
__text_data4 = ['', '<b>Word: smooth <br>Coefficent: 0.13</b>', '<b>Word: bourbon <br>Coefficent: 0.12</b>', '<b>Word: great <br>Coefficent: 0.12</b>', '<b>Word: rich <br>Coefficent: 0.11</b>'],
__size_of_bubble4 = [0, 81.34178154091508, 74.6325121893456, 79.95406477998476, 72.4025087737337],
__font_size_in_bubble4 = [0, 10.0, 9.0, 10.0, 9.0],
__x5 = [0, 0, 1, 2, 3],
__y5 = [0, 0.1116748471696301, 0.1387283335339056, 0.1729954266915747, -0.1381899975222609],
__marker_color5 = ['rgba(0,0,0,0)', 'rgb(0,158,115)', 'rgb(0,158,115)', 'rgb(0,158,115)', 'rgb(213,94,0)'],
__text_data5 = ['', '<b>Word: chocolate <br>Coefficent: 0.11</b>', '<b>Word: smooth <br>Coefficent: 0.14</b>', '<b>Word: great <br>Coefficent: 0.17</b>', '<b>Word: thin <br>Coefficent: -0.14</b>'],
__size_of_bubble5 = [0, 71.47190218856326, 88.78613346169958, 110.71707308260781, 88.44159841424698],
__font_size_in_bubble5 = [0, 9.0, 11.0, 14.0, 11.0],
__x6 = [0, 0, 1],
__y6 = [0, 0.1027753769784144, 0.1613720499357801],
__marker_color6 = ['rgba(0,0,0,0)', 'rgb(0,158,115)', 'rgb(0,158,115)'],
__text_data6 = ['', '<b>Word: funk <br>Coefficent: 0.10</b>', '<b>Word: great <br>Coefficent: 0.16</b>'],
__size_of_bubble6 = [0, 65.77624126618522, 103.27811195889927],
__font_size_in_bubble6 = [0, 8.0, 13.0],
__x7 = [0, 0, 1, 2, 3, 4, 5, 6],
__y7 = [0, 0.1069061098623696, 0.1439920970663445, 0.1266466616002671, 0.2008145925618023, 0.1276682307259548, 0.1380383372211228, 0.1514601155529207],
__marker_color7 = ['rgba(0,0,0,0)', 'rgb(0,158,115)', 'rgb(0,158,115)', 'rgb(0,158,115)', 'rgb(0,158,115)', 'rgb(0,158,115)', 'rgb(0,158,115)', 'rgb(0,158,115)'],
__text_data7 = ['', '<b>Word: hops <br>Coefficent: 0.11</b>', '<b>Word: nice <br>Coefficent: 0.14</b>', '<b>Word: citrus <br>Coefficent: 0.13</b>', '<b>Word: great <br>Coefficent: 0.20</b>', '<b>Word: hoppy <br>Coefficent: 0.13</b>', '<b>Word: smooth <br>Coefficent: 0.14</b>', '<b>Word: pine <br>Coefficent: 0.15</b>'],
__size_of_bubble7 = [0, 68.41991031191655, 92.15494212246048, 81.05386342417094, 128.52133923955347, 81.70766766461107, 88.34453582151859, 96.93447395386924],
__font_size_in_bubble7 = [0, 9.0, 12.0, 10.0, 16.0, 10.0, 11.0, 12.0],
__x8 = [0, 0, 1, 2, 3, 4, 5, 6],
__y8 = [0, -0.1258383583764163, 0.2751173897493892, 0.1196342537102134, 0.2002352488543926, 0.1216336759422682, -0.1045456115451877, 0.1317227857402737],
__marker_color8 = ['rgba(0,0,0,0)', 'rgb(213,94,0)', 'rgb(0,158,115)', 'rgb(0,158,115)', 'rgb(0,158,115)', 'rgb(0,158,115)', 'rgb(213,94,0)', 'rgb(0,158,115)'],
__text_data8 = ['', '<b>Word: like <br>Coefficent: -0.13</b>', '<b>Word: nice <br>Coefficent: 0.28</b>', '<b>Word: cherry <br>Coefficent: 0.12</b>', '<b>Word: tart <br>Coefficent: 0.20</b>', '<b>Word: medium <br>Coefficent: 0.12</b>', '<b>Word: thin <br>Coefficent: -0.10</b>', '<b>Word: red <br>Coefficent: 0.13</b>'],
__size_of_bubble8 = [0, 80.53654936090643, 176.0751294396091, 76.56592237453657, 128.15055926681126, 77.84555260305166, 66.90919138892012, 84.30258287377518],
__font_size_in_bubble8 = [0, 10.0, 22.0, 10.0, 16.0, 10.0, 8.0, 11.0],
__x9 = [0, 0],
__y9 = [0, 0.1623773332989234],
__marker_color9 = ['rgba(0,0,0,0)', 'rgb(0,158,115)'],
__text_data9 = ['', '<b>Word: great <br>Coefficent: 0.16</b>'],
__size_of_bubble9 = [0, 103.92149331131097],
__font_size_in_bubble9 = [0, 13.0],
__x10 = [0, 0, 1],
__y10 = [0, 0.1559223863975351, 0.1555553095040413],
__marker_color10 = ['rgba(0,0,0,0)', 'rgb(0,158,115)', 'rgb(0,158,115)'],
__text_data10 = ['', '<b>Word: smooth <br>Coefficent: 0.16</b>', '<b>Word: great <br>Coefficent: 0.16</b>'],
__size_of_bubble10 = [0, 99.79032729442247, 99.55539808258644],
__font_size_in_bubble10 = [0, 12.0, 12.0],
__x11 = [0, 0, 1, 2],
__y11 = [0, 0.1072767848189952, 0.1672895178752392, 0.1499276040819803],
__marker_color11 = ['rgba(0,0,0,0)', 'rgb(0,158,115)', 'rgb(0,158,115)', 'rgb(0,158,115)'],
__text_data11 = ['', '<b>Word: nice <br>Coefficent: 0.11</b>', '<b>Word: great <br>Coefficent: 0.17</b>', '<b>Word: smooth <br>Coefficent: 0.15</b>'],
__size_of_bubble11 = [0, 68.65714228415693, 107.06529144015309, 95.9536666124674],
__font_size_in_bubble11 = [0, 9.0, 13.0, 12.0],
__x12 = [0, 0, 1],
__y12 = [0, 0.1058704142898329, 0.1787868515464275],
__marker_color12 = ['rgba(0,0,0,0)', 'rgb(0,158,115)', 'rgb(0,158,115)'],
__text_data12 = ['', '<b>Word: nice <br>Coefficent: 0.11</b>', '<b>Word: great <br>Coefficent: 0.18</b>'],
__size_of_bubble12 = [0, 67.75706514549306, 114.4235849897136],
__font_size_in_bubble12 = [0, 8.0, 14.0],
__x13 = [0, 0, 1],
__y13 = [0, 0.192431848250114, 0.1537350675310791],
__marker_color13 = ['rgba(0,0,0,0)', 'rgb(0,158,115)', 'rgb(0,158,115)'],
__text_data13 = ['', '<b>Word: nice <br>Coefficent: 0.19</b>', '<b>Word: refreshing <br>Coefficent: 0.15</b>'],
__size_of_bubble13 = [0, 123.15638288007295, 98.39044321989063],
__font_size_in_bubble13 = [0, 15.0, 12.0],
__x14 = [0, 0, 1, 2, 3],
__y14 = [0, 0.1031644160782097, 0.1728646463509959, 0.160824297589515, 0.1603449442105835],
__marker_color14 = ['rgba(0,0,0,0)', 'rgb(0,158,115)', 'rgb(0,158,115)', 'rgb(0,158,115)', 'rgb(0,158,115)'],
__text_data14 = ['', '<b>Word: hops <br>Coefficent: 0.10</b>', '<b>Word: bourbon <br>Coefficent: 0.17</b>', '<b>Word: great <br>Coefficent: 0.16</b>', '<b>Word: smooth <br>Coefficent: 0.16</b>'],
__size_of_bubble14 = [0, 66.0252262900542, 110.63337366463739, 102.9275504572896, 102.62076429477345],
__font_size_in_bubble14 = [0, 8.0, 14.0, 13.0, 13.0],
    __data = [{x:__x0, y:__y0, type:'scatter', hoverinfo:'text', name: 'American IPA',mode:'markers+text', marker:{size:__size_of_bubble0, color:__marker_color0} , text: __text_data0, textposition: 'middle center', textfont: {family: "sans serif", size: __font_size_in_bubble0, color: "white"}},
{x:__x1, y:__y1, type:'scatter', hoverinfo:'text', name: 'American Double / Imperial IPA',mode:'markers+text', marker:{size:__size_of_bubble1, color:__marker_color1} ,visible:'legendonly', text: __text_data1, textposition: 'middle center', textfont: {family: "sans serif", size: __font_size_in_bubble1, color: "white"}},
{x:__x2, y:__y2, type:'scatter', hoverinfo:'text', name: 'American Double / Imperial Stout',mode:'markers+text', marker:{size:__size_of_bubble2, color:__marker_color2} ,visible:'legendonly', text: __text_data2, textposition: 'middle center', textfont: {family: "sans serif", size: __font_size_in_bubble2, color: "white"}},
{x:__x3, y:__y3, type:'scatter', hoverinfo:'text', name: 'American Pale Ale (APA)',mode:'markers+text', marker:{size:__size_of_bubble3, color:__marker_color3} ,visible:'legendonly', text: __text_data3, textposition: 'middle center', textfont: {family: "sans serif", size: __font_size_in_bubble3, color: "white"}},
{x:__x4, y:__y4, type:'scatter', hoverinfo:'text', name: 'Russian Imperial Stout',mode:'markers+text', marker:{size:__size_of_bubble4, color:__marker_color4} ,visible:'legendonly', text: __text_data4, textposition: 'middle center', textfont: {family: "sans serif", size: __font_size_in_bubble4, color: "white"}},
{x:__x5, y:__y5, type:'scatter', hoverinfo:'text', name: 'American Porter',mode:'markers+text', marker:{size:__size_of_bubble5, color:__marker_color5} ,visible:'legendonly', text: __text_data5, textposition: 'middle center', textfont: {family: "sans serif", size: __font_size_in_bubble5, color: "white"}},
{x:__x6, y:__y6, type:'scatter', hoverinfo:'text', name: 'Saison / Farmhouse Ale',mode:'markers+text', marker:{size:__size_of_bubble6, color:__marker_color6} ,visible:'legendonly', text: __text_data6, textposition: 'middle center', textfont: {family: "sans serif", size: __font_size_in_bubble6, color: "white"}},
{x:__x7, y:__y7, type:'scatter', hoverinfo:'text', name: 'American Amber / Red Ale',mode:'markers+text', marker:{size:__size_of_bubble7, color:__marker_color7} ,visible:'legendonly', text: __text_data7, textposition: 'middle center', textfont: {family: "sans serif", size: __font_size_in_bubble7, color: "white"}},
{x:__x8, y:__y8, type:'scatter', hoverinfo:'text', name: 'Fruit / Vegetable Beer',mode:'markers+text', marker:{size:__size_of_bubble8, color:__marker_color8} ,visible:'legendonly', text: __text_data8, textposition: 'middle center', textfont: {family: "sans serif", size: __font_size_in_bubble8, color: "white"}},
{x:__x9, y:__y9, type:'scatter', hoverinfo:'text', name: 'American Wild Ale',mode:'markers+text', marker:{size:__size_of_bubble9, color:__marker_color9} ,visible:'legendonly', text: __text_data9, textposition: 'middle center', textfont: {family: "sans serif", size: __font_size_in_bubble9, color: "white"}},
{x:__x10, y:__y10, type:'scatter', hoverinfo:'text', name: 'Belgian Strong Dark Ale',mode:'markers+text', marker:{size:__size_of_bubble10, color:__marker_color10} ,visible:'legendonly', text: __text_data10, textposition: 'middle center', textfont: {family: "sans serif", size: __font_size_in_bubble10, color: "white"}},
{x:__x11, y:__y11, type:'scatter', hoverinfo:'text', name: 'Tripel',mode:'markers+text', marker:{size:__size_of_bubble11, color:__marker_color11} ,visible:'legendonly', text: __text_data11, textposition: 'middle center', textfont: {family: "sans serif", size: __font_size_in_bubble11, color: "white"}},
{x:__x12, y:__y12, type:'scatter', hoverinfo:'text', name: 'Belgian Strong Pale Ale',mode:'markers+text', marker:{size:__size_of_bubble12, color:__marker_color12} ,visible:'legendonly', text: __text_data12, textposition: 'middle center', textfont: {family: "sans serif", size: __font_size_in_bubble12, color: "white"}},
{x:__x13, y:__y13, type:'scatter', hoverinfo:'text', name: 'Witbier',mode:'markers+text', marker:{size:__size_of_bubble13, color:__marker_color13} ,visible:'legendonly', text: __text_data13, textposition: 'middle center', textfont: {family: "sans serif", size: __font_size_in_bubble13, color: "white"}},
{x:__x14, y:__y14, type:'scatter', hoverinfo:'text', name: 'American Strong Ale',mode:'markers+text', marker:{size:__size_of_bubble14, color:__marker_color14} ,visible:'legendonly', text: __text_data14, textposition: 'middle center', textfont: {family: "sans serif", size: __font_size_in_bubble14, color: "white"}}],
    __layout = {
        showlegend: true,
        hovermode:'closest',
		  yaxis: {dtick: 0.1, range: [-0.51, 0.51], zeroline: false, title: 'Coefficient'},
      xaxis: {dtick: 1, tick0: 0, showticklabels: false, zeroline: false, title: 'Keyword'},
		  height: 700,
      width: 1200
     };

Plotly.newPlot('__myDiv', __data, __layout);

__myPlot.on('plotly_legendclick', function(__data){
  var __update1 = {'visible':'legendonly'};
  var __update2 = {'visible': true};
  Plotly.restyle('__myDiv', __update1,[0]);
  Plotly.restyle('__myDiv', __update1,[1]);
  Plotly.restyle('__myDiv', __update1,[2]);
  Plotly.restyle('__myDiv', __update1,[3]);
  Plotly.restyle('__myDiv', __update1,[4]);
  Plotly.restyle('__myDiv', __update1,[5]);
  Plotly.restyle('__myDiv', __update1,[6]);
  Plotly.restyle('__myDiv', __update1,[7]);
  Plotly.restyle('__myDiv', __update1,[8]);
  Plotly.restyle('__myDiv', __update1,[9]);
  Plotly.restyle('__myDiv', __update1,[10]);
  Plotly.restyle('__myDiv', __update1,[11]);
  Plotly.restyle('__myDiv', __update1,[12]);
  Plotly.restyle('__myDiv', __update1,[13]);
  Plotly.restyle('__myDiv', __update1,[14]);
  Plotly.restyle('__myDiv', __update2,[__data.curveNumber]);
  return false;
});
  </script>
</body>
